.footer{
    background-color: #545047;
    height: 200px;
    color:#ffffff;
    .footer__vk{
        img{
            width: 60px;
            height: auto;
        }
        
        
    }
}